*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 1.65;
}

a {
  text-decoration: none;

  &:hover {
    color: #2ebaae;
  }
}


.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;

  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none !important;
  }

  > .label {
    display: none;
  }
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  float: right;
  margin: 7px 2px;
  li {
    display: inline-block;
    padding: 0 2px 0 0;
    &:last-child {
      padding-right: 0;
    }
    .icon {
      color: inherit;
      &:before {
        font-size: 1.25em;
      }
    }
  }
}

dl dd {
  margin-left: 1.8em;
}

#wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 0 10px;
  box-shadow: 1px -4px 5px 0px #c7c7c7;
}

#main {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;

  > .inner {
    padding: 0 6em .1em 6em;
    margin: 0 auto;
    max-width: 110em;
  }
}

#part_top {
  text-decoration: none;
  position: relative;
}


#footer .copyright {
  color: #9fa3a6;
  font-size: .9em;
  letter-spacing: 0.03em;

  a {
    -moz-transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  }
}

/* typography */
a {
  color: #005689;
  outline: 0;

  &:visited {
    color: #005689;
    text-decoration: underline;
    outline: 0;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

/* Base CSS */

table.ep_multi {
  margin-top: 30px;
}

dl.ep_action_list dd {
  top: -1em;
  left: 18em;
}


.person_name {
  color: #000 !important;
}

.ep_sr_title_bar {
  padding: 10px 6px 10px 6px !important;
  background-image: none;
}

.ep_subjectinput_tree dl dt {
  line-height: 23px;
}

td.ep_columns_cell {
  background-color: #cfc;

  &:first-child {
    text-align: center;
  }
}

.ep_columns_cell_rev_number {
  text-align: center;
}

.ep_columns {
  width: 80%;
}

.ep_columns_cell_last {
  background-color: #cfc;
}

th {
  font-family: Raleway, sans-serif;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: .35em;
  list-style: none;
  text-transform: uppercase;
}

td.ep_columns_alter, th.ep_columns_title {
  font-family: Montserrat, Sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  min-width: auto;
  text-transform: uppercase;
}

.ep_form_internal_button {
  font-family: Montserrat, Sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  min-width: inherit;
  text-transform: uppercase;
}

.ep_sr_content, .ep_summary_box_body, .ep_tab_panel, .ep_toolbox_content, .ep_upload_doc {
  background-image: none;
  background-repeat: none;
  background-color: #f5f6f7;
}

.ep_tab_bar li {
  &.ep_tab_selected a {
    background-color: #f5f6f7;
  }

  a {
    background-color: #dff0d8;
  }
}

.ep_block {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ep_form_button_bar {
  text-align: center;
  padding: 4px;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ep_columns_title, .ep_tm_searchbar, td.ep_columns_alter {
  background-color: #f5f6f7;
  background-image: none;
  background-repeat: repeat-x;
}

.button {
  font-family: Montserrat, Sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: normal;
  min-width: inherit;
  text-transform: uppercase;
}

input {
  &[type=submit] {
    font-family: Montserrat, Sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: normal;
    min-width: inherit;
    text-transform: uppercase;
  }

  &.ep_form_text {
    padding: 5px;
    margin-right: 4px;
    border: solid 1px #ccc;
  }
}

select, textarea {
  padding: 5px;
  margin-right: 4px;
  border: solid 1px #ccc;
}

select:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: #0ebeff;
  right: 11px;
  top: 6px;
  height: 34px;
  padding: 15px 0 0 8px;
  border-left: 1px solid #0ebeff;
  position: absolute;
  pointer-events: none;
}

img {
  margin-bottom: 0;
}

.account {
  font-size: 80%;
  color: #333;

  a {
    color: #fff;
  }
}

.branding {
  color: #ccc;
  min-height: 70px;

  h1 {
    font-size: 36px;
    text-align: left;
    padding: 20px 10px 0 10px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 22px;
  }

  form {
    margin-bottom: 0;
    text-align: right;
    float: right;

    button {
      display: inline;
      margin-right: 0;
      margin-left: -18px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  input {
    width: 200px;
  }
}

.search {
  height: 50px;
  background-color: #014359;
  padding: 5px;
}

.ep_tm_searchbarbox {
  width: 98%;
}

.ep_tm_searchbarbutton {
  float: right;
  margin-top: 5px;
}

.horizontal {
  margin-right: 0;
}



.mobile-menu-container {
  width: 100%;
  min-height: 36px;
  background-color: #002d3c;
}

.mobile-menu-toggle {
  height: 36px;
  margin-right: 1%;
  line-height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  float: right;

  a {
    background-color: #002d3c;
    width: 36px;
    height: 27px;
    padding: 0 0 9px 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    float: right;
    border-radius: 5px;

    span {
      border-radius: 5px;
      background-color: #fff;
      display: block;
      height: 3px;
      width: 36px;
      margin: 6px 0;
    }
  }
}

// .ep_name_citation a {
//   background-color: #848485 !important;
// }

.ep-intro__repository {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
}

.ep-contact__information {
  margin-bottom: 20px;
  h4 {
    margin: 0;
  }
}

.ep-content-center {
  h2.ep-heading__about {
    line-height: 27px;
  }
  h2.ep-heading__help {
    line-height: 27px;
  }
  h2.ep-heading__policies {
    line-height: 27px;
  }
  .ep-panel__statistic {
    margin-top: 25px;
    h2 {
      font-size: 2em;
    }
  }
  .ep-content-statistic {
    margin-top: 20px;
  }
  .ep-content-login {
    padding: 0 38px;
    .ep-content-login__information {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
    }
  }
}
.ep-note__forusers {
  border: 1px solid #E4E4E4;
  padding: 25px;
  margin: 0 25px 25px 25px;
  color: #000;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.ep-top-authors {
  .ep-box-heading_information {
    background: #ffb43d;
  }
  h2 {
    font-size: 12px;
    font-weight: bold;
    color: #ffff;
    padding: 5px 10px;
    margin: 0;
  }
  #top-authors {
    text-align: left;
  }
}

.ep-last-month-donwloads {
  .ep-box-heading_information {
    background: #ffb43d;
    border: 1px solid #fff;
  }
  h2 {
    font-size: 12px;
    font-weight: bold;
    color: #ffff;
    padding: 5px 10px;
    margin: 0;
  }
  #top-downloads {
    text-align: left;
  }
}

.ep-section-rss {
  display: flex;
  ul.ep-ul__rss {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    li {
      padding: 8px 5px;
      display: inline-flex;
      a {
        margin-left: 4px;
      }
    }
  }
}